/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
    background-color:  #e0e2e4;
}



/*body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
   /* -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /*-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}*/

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.myrow{
    width:600px;
    height:660px;
    background-color: white;
    margin:auto;

}



/*header, main,footer {
     margin-left: 205px;
    }*/

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
.sidebar-h5{
    font-size: 20px;
    font-weight:bold;
    margin-left: 30px;
    color:#4682B4;
}



.adventures-wrap{
    width:100%;
    height:400px;
    background-color:#f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

/*.adventures-Div1-Img {
   width:400px;
    height:300px;
    background-color: grey;
    
}*/
@media screen and (max-width: 960px) and (min-width: 360px) {
    

.adventures-Div1-Img {
   width:250px;
    height:auto;
    background-color: grey;
    /*margin-left: 350px;*/
}

.English-btn{
    width:50px; 
    height:50px;
    margin-bottom: 350px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    /*margin-left: 300px;*/
}

.adventures-row2-col2{  
    margin-left: 20px;
  
}

.waves-effect  btn{
    height:10px;
    width:10px;
}

.adventures-wrapper-div{
 overflow-x: hidden;
overflow-y: scroll; 
 

}
}
/*

.adventures-row1-col1 p{
    /*float:left;
margin-left: 350px;
}*/
@media screen and  (min-width: 960px) {

.English-btn{
    width:50px; 
    height:50px;
    margin-bottom: 440px;
    margin-left: 80px;
    
}

.adventures-row2-col1{

    padding-left: 350px;
}

.adventures-row2-col2{
    
    float:right;
    margin-right: 900px;
    margin-left: 20px;
}

.adventures-ptag{
    margin-left: 350px; 
}

.adventures-Div1-Img {
   width:400px;
    height:auto;
    background-color: grey;
   margin-left: 350px;
}
}

/*button to translate page into English in adventures page
.adventures-row2-col1{
    /*float:left;
    padding-left: 350px;
    
}


.adventures-row2-col2{
    
    float:right;
    margin-right: 800px;
}*/

/*setting the css for adventures 1*/

/*responsive callouts/speech bubble*/
/*source:https://codepen.io/depthdev/pen/wiIsv*/
/*alternative:/*speech bubble generator:http://ilikepixels.co.uk/bubbler-css-speech-bubble-generator/*/
*, *:before, *:after { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}


/* BASE STYLES FOR EACH */
.callouts p {
  display: inline-block;
  /* Real styles */
  position: relative;
   /* width: 22%;*/
    width: 250px;
    height: auto;
  padding: 15px;
    background-color: #fff;
  border: 1px solid #c1c1c1;
    border-radius: 9px;
    box-shadow: 0 0 10px #c1c1c1;
    font-size: 12px;
}

/* LEFT */
.callouts--left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -42px;
    top: 17px;
  border: 10px solid transparent;
  border-right: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-right: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.callouts--left:after {
  content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -31px;
    top: 20px;
  border: 8px solid transparent;
  border-right: 24px solid #fff;
  z-index: 3;
}

/* RIGHT */
.callouts--right:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -42px;
    top: 17px;
  border: 10px solid transparent;
  border-left: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-left: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.callouts--right:after {
  content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -31px;
    top: 20px;
  border: 8px solid transparent;
  border-left: 24px solid #fff;
  z-index: 3;
}

/*start of adventure 1 home page css*/
.adventure1-wrapper-div{
    width:75%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adventures1-validatebtn{
    margin-left: 8%;
}

.adventure1-audiobtn{
    margin-left:5%;
}

.adventures1-lessonbtn{
    margin-left:6%;
}

.adventures1-transcriptionbtn{
    margin-left: 6%;
}

.adventures1-ticket1,.adventures1-ticket2,.adventures1-ticket3,.adventures1-ticket4{
    width:29%;
    height:auto;
}

.adventures1-ama,.adventures1-kofi{
    height:auto;
}

.adventures1-kofi{
    margin-left: 10%;
    width:70%;
   }

.adventures1-ama{
    margin-left: 60%;
    width:35%;
}

.buttons-div,.answers-buttons-div{
    margin-left: 35%;
    margin-top:5%;
}

.rbtn-batch1,.rbtn-batch2,.tickets-batch1,.tickets-batch2,
.answers-rbtn-batch1,.answers-rbtn-batch2,.answers-tickets-batch1,.answers-tickets-batch2{
    margin-left:39%;
}

.adventures1-ticket2,.adventures1-ticket4{
    margin-left: 15%;
}

.adventures1-transcriptionbtn,.adventures1-validatebtn,
.adventures1-lessonbtn,.audio-btn,.goback-btn,.transcription-backbtn,
.transcription-audiobtn,.transcription-lessonbtn,
.adventures1-validatebtn,.adventure1-audiobtn,.answers-lessonbtn
,.answers-transcriptionbtn{
border-radius: 50%;
}

/*setting the css for adventures 1 check lesson*/
.adventures1-lesson-div,.adventures1-transcription-div{
    margin-left: 35%;
    margin-top: 2%;

}

.alphabet-img,.vowels-img{
    width:50%;
    height:auto;
}

/*general css for back button*/
.goback-btn,.transcription-backbtn{
   width:7%;
   height:auto;
}
/*general css for audio btn*/
.audio-btn,.transcription-audiobtn,.adventure1-audiobtn{
    width:8%;
    height:auto;
}
/*general css for transcription button*/
.transcription-lessonbtn,.adventures1-transcriptionbtn,.answers-transcriptionbtn{
    width:9%;
    height:auto;
}

/*general css for checklesson  btn*/
.adventures1-lessonbtn,.answers-lessonbtn{
    width:9%;
    height:auto;
}

/*general css for validate btn*/
.adventures1-validatebtn{
    width:9%; height:auto;  
}

/*general css for next button*/
.answers-nextbtn{
    width:10%; height:auto;
}

.audio-btn{
margin-left: 30%;
}

/*css for check transcription page*/

.transcription-row2 p{
line-height: 200%;
}

.transcription-lessonbtn{
margin-left:12%;
}

.transcription-audiobtn{
margin-left: 9%;
}

/*css for check answers*/
.answers-lessonbtn{
    margin-left: 20%;
}

.answers-transcriptionbtn{
    margin-left: 6%;
}

.answers-nextbtn{
    margin-left: 6%;
}

.answers-buttons-div{
    margin-bottom: 1%;
}
